<div class="multi-select">
  <button type="button" class="multi-select__trigger" (click)="toggleOpen()">
    {{ buttonLabel() }}
    <span class="multi-select__caret">▾</span>
  </button>

  @if (open()) {
    <div class="multi-select__panel">
      <button type="button" class="multi-select__clear" (click)="clear()">
        {{ allLabel }}
      </button>
      @for (option of options; track option.value) {
        <label class="multi-select__option">
          <input
            type="checkbox"
            [checked]="isChecked(option.value)"
            (change)="toggle(option.value)"
          />
          {{ option.label }}
        </label>
      }
    </div>
  }
</div>
